.common-btn{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}

.web-color{
    background-color: #fceae8;
}
.banner-price {
    color: #ff136f;
}

.category-color-1{
    background-color: #ffa500;
}
.category-color-2{
    background-color: #da70d6;
}
.category-color-3{ background-color: #0000ff;}